@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}

.scroll_element::-webkit-scrollbar {
  height: 8px;
  width: 20px;
  background-color: white;

}
.scroll_element::-webkit-scrollbar-thumb {
  background-color: #FF6B66;
}
